<div ng-controller="AddCard">
<!--   <pre>{{ card | json }}</pre> -->
  <form name="cardForm" ng-submit="postFlashCard(card)">
    <h3>Question</h3>
    <p>
      <input type="text" class="question-form" ng-model="card.question" required>
    </p>
    <h3>Category</h3>
    <p>
      <select ng-model="card.category" required>
        <option ng-repeat="category in categories">{{ category }}</option>
      </select>
    </p>
    <h3>Answers</h3>
    <p ng-repeat="answer in card.answers">
      <input
        name="correctAnswer"
        type="radio"
        ng-change="setCorrect(answer, card)"
        ng-value="true"
        ng-model="answer.correct">
      <input
        type="text"
        ng-model="answer.text" required>
    </p>
    <input class="submit-btn" type="submit">
  </form>
</div>